.header{
    background-image: url(images/bg-header-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.header img{
    width: 60px;
}

.ios-btn, .mac-btn{
    padding: 10px 15px;
    margin: 10px;
    border-radius: 20px;
}
.track-snippets, .multi-device{
    padding: 50px 0;
}
.track-snippets p .multi-device p, .clipboard-store p{
    width: 600px;
    text-align: center;
}
.comp-cate {
    width: 600PX;
    display: flex;
    gap: 80px;
    margin: 0 auto 100px auto;
}
.comp-cate img{
    width: 400px;
    max-height: 350px;
}
.category{
    text-align: left;
}
.category p{
    width: 300px;
    text-align: left;
    margin: 0;
}
.multi-device img{
    padding-top: 50px;
    width: 550px;
}
.Supercharge, .sponsors{
    display: flex;
    justify-content: space-around;
    padding: 50px 0 100px 0;
    width: 600px;
    margin: 0 auto;
}
.footer-main{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;

}
.footer-menu{
    text-align: center;
    display: flex;

}
.footer-menu p{
    margin: 0 15px;
}
.social{
    display: flex;
    gap: 30px;
    align-items: center;
}
.social img{
    width: 30px;
}