/*this is a general style for both the Mobile and the Desktop */
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    Font-size: 18px
}
.header, .track-snippets, .multi-device, .clipboard-store {
    margin: 30px auto;
    width: 600px;
    text-align: center;
}
h1, h2, h3{
    color: hsl(210, 10%, 33%);
}
p{
    text-align: center;
    margin: 0 auto;
    line-height: 1.5;
    color: hsl(201, 11%, 66%);
}
.ios-btn{
    background-color: hsl(171, 66%, 44%);
}
.mac-btn{
    background-color: hsl(233, 100%, 69%);
}

.ios-btn, .mac-btn{
    border: none;
    color: white;
}
.ios-btn:hover{
    background-color: hsl(171, 52%, 68%);
    cursor: pointer;
}
.mac-btn:hover{
    background-color: hsl(233, 44%, 69%);
    cursor: pointer;
}
footer{
    background-color: hsl(197, 20%, 93%);
    
}
/* this is the Desktop device style */

@media(min-width: 376px) {
    .header{
        margin-top: 0;
        background-image: url(images/bg-header-desktop.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
    }
    .header img{
        margin-top: 100px;
        width: 60px;
    }
    
    .ios-btn, .mac-btn{
        padding: 10px 15px;
        margin: 40px;
        border-radius: 20px;
    }
    .track-snippets, .multi-device{
        padding: 50px 0;
    }
    .track-snippets p .multi-device p, .clipboard-store p{
        text-align: center;
    }
    .comp-cate {
        padding: 0 100px;
        justify-content: space-between;
        display: flex;
        margin: 0 auto 100px auto;
    }
    .comp-cate img{
        width: 450px;
    }
    .category{
        text-align: left;
    }
    .category p{
        text-align: left;
        margin: 0;
    }
    .multi-device img{
        padding-top: 50px;
        width: 550px;
    }
    .Supercharge, .sponsors{
        display: flex;
        gap: 40px;
        justify-content: space-around;
        padding: 50px 0 100px 0;
        width: 600px;
        margin: 0 auto;
    }
    .footer-main{
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        padding: 30px;
    
    }
    .footer-menu{
        text-align: center;
        display: flex;
    
    }
    .footer-menu p{
        margin: 0 15px;
    }
    .social{
        display: flex;
        gap: 30px;
        align-items: center;
    }
    .social img{
        width: 30px;
    }
    .attribution{
        padding-bottom: 20px;
    }
}




/* this is the Mobile device style */
@media(max-width: 375px) {
    .header img{
        width: 50px;
        padding-top: 70px;
    }
    .header h1, .header p{
        width: 55%;
        margin: 0 auto;
        padding: 20px 0;
    }
    .btn{
        display: flex;
        flex-direction: column;
        width: 30%;
        margin: 0 auto 100px auto;
    }
    .ios-btn, .mac-btn{
        padding: 10px 15px;
        margin: 10px;
        border-radius: 20px;
    }
    .track-snippets h2, .multi-device h2, .Supercharger h2{
        width: 45%;
        margin: 0 auto;
    }
    .track-snippets p{
        width: 55%;
        padding-top: 15px;
        margin-bottom: 100px;
    }
    .comp-cate{
        width: 600px;
        margin: 0 auto;
    }
    .category{
        width: 300px;
        margin: 50px auto 100px auto;

    }.multi-device p{
        width: 55%;
        padding-top: 15px;
        margin-bottom: 40px;
    }
    .multi-device img{
        width: 300px;
        margin-bottom: 100px;
    }
    .Supercharger{
        width: 600px;
        margin: 0 auto 100px auto; 
    }
    .Supercharger p{
        width: 50%;

    }
    .sponsors{
        width: 600px;
        margin: 0 auto 100px auto; 
    }
    .sponsors img{
        width: 80px;
        margin-bottom: 30px;
    }
    .clipboard-store h2, .clipboard-store p{
        width: 50%;
        margin: 0 auto;
        padding: 20px 0;
    }
    footer{
        width: 600px;
    }
    .footer-main img{
        width: 30px;
        padding: 30px 0 15px 0;
    }
    .footer-main{
        margin-bottom: 50px;
    }
    .footer-main p{
        padding-bottom: 15px;

    }
    .attribution{
        width: 300px;
        font-size: 16px;
        padding-bottom: 30px;
    }
    .social{
        width: 200px;
        display: flex;
        margin: 0 auto 30px auto;
        justify-content: space-between;
    }
    .social img{
        width: 30px;
    }
}